* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: "Noto Sans", sans-serif;
}

body {
    background-image: url("image/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-image: url("image/circlesheader.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 3px solid black;
}

:root {
    --hottext: rgb(44, 205, 35);

}

h1 {
    font-family: "Notable", sans-serif;
    text-align: center;
    color: var(--hottext);
    font-size: 7vw;
}

h2 {
    font-family: "Notable", sans-serif;
    text-align: center;
    color: var(--hottext);
    padding-bottom: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
}

a { 
    font-family: "Notable", sans-serif;
    margin: 0px 40px 5px 40px;
    text-decoration: none;
    font-size: 2vw;
    color: var(--hottext);   
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#biography {
    width: 90%;
    background: transparent;
    border: 3px solid black;
}

#portrait {
    background-image: url('image/elfport.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    background: transparent;
    margin: 5px 0px;
    border: 3px solid black;
    min-height: 500px;
    width: 90%;
}

#supreme {
    background-image: url('image/supremejourneyscreenshot.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

#weather {
    background-image: url('image/weatherreportscreenshot.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#quiz {
    background-image: url('image/quizscreenshot.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#dayplanner {
    background-image: url('image/dayplannerscreenshot.png');
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 100%;
    background-image: url("image/circlesfooter.png");
    background-size: cover;
}

#contactlinks {
    border-top: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}